<hr>
<app-landing></app-landing>
<hr>
<app-about></app-about>
<hr>
<app-services></app-services>
<hr>
<div class="py-24 uppercase">
  <div class="container bg-bgDark rounded-3xl text-center py-24 flex gap-10 items-center flex-col ">
    <h2 class="text-[60px] font-bold dReveal">READY TO GET STARTED ?</h2>
    <a class="btn text-3xl font-bold px-5 lg:px-10 dReveal" href=""> SCHEDULE A CALL </a>
  </div>
</div>
<hr>
<footer id="contact">
  <div class="container flex justify-center gap-10 flex-wrap">
    <div class="flex-grow max-w-sm  py-10  md:border-r border-white">
      <a href=""><img class="w-56 mx-auto" src="assets/logo.svg" alt="logo image"></a>
      <div class="flex py-10 gap-5 justify-center">
        <a href=""><img class="w-10" src="assets/contact/facebook.svg" alt="logo image"></a>
        <a href=""><img class="w-10" src="assets/contact/instgram.svg" alt="logo image"></a>
      </div>
    </div>
    <div class="flex-grow max-w-sm py-10  ">
      <h3>NAVIGATION</h3>
      <ul>
        <li><a href="#home"> Home</a></li>
        <li><a href="#aboutUs"> About Us</a></li>
        <li><a href="#services"> Our Services</a></li>
        <li><a href="#contact"> Contact</a></li>
      </ul>
    </div>
    <div class="flex-grow max-w-sm py-10  ">
      <h3>CONTACT US </h3>
      <ul>
        <li><a class="flex items-center" href="mailto:support@cabitalize.com"><img class="mr-3"
              src="assets/contact/mail.svg" alt="">support@cabitalize.com</a></li>
        <li><a class="flex items-center" href="tel:+123-456-789-987"><img class="mr-3" src="assets/contact/phone.svg"
              alt="">+123-456-789-987</a></li>
        <li><a href="#aboutUs">Terms Of Service</a></li>
        <li><a href="#services">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="text-center py-3">Website designed and developed by : <a class="underline" href="">framskrit</a> </div>
</footer>