<hr>
<app-landing></app-landing>
<hr>
<app-about></app-about>
<hr>
<app-services></app-services>
<hr>
<div class="py-24 uppercase px-4">
  <div class="container bg-bgDark rounded-3xl text-center py-24 flex gap-10 items-center flex-col">
    <h2 class="md:text-[60px] text-4xl font-bold dReveal">READY TO GET STARTED ?</h2>
    <a class="btn text-[15px] md:text-3xl font-bold px-5 lg:px-10 dReveal"
      href="https://calendly.com/autoleadsmedia/30min"> SCHEDULE A
      CALL </a>
  </div>
</div>
<hr>
<footer id="contact" class="py-5 md:py-0">
  <div
    class="container flex justify-center gap-5 md:gap-10 flex-col md:flex-row items-center md:items-stretch flex-wrap text-center md:text-left">
    <div class="flex-grow max-w-sm  py-5  md:py-10  md:border-r border-white">
      <a href=""><img class="w-56 mx-auto" src="assets/logo.svg" alt="logo image"></a>
      <div class="flex py-10 gap-5 justify-center">
        <a href="https://www.facebook.com/profile.php?id=100090975635228"><img class="w-10"
            src="assets/contact/facebook.svg" alt="facebook icon"></a>
        <a href="https://www.instagram.com/autoleadsmedia/"><img class="w-10" src="assets/contact/instgram.svg"
            alt="instgram icon"></a>
      </div>
    </div>
    <div class="flex-grow max-w-sm  py-5 md:py-10  ">
      <h3>NAVIGATION</h3>
      <ul>
        <li><a href="#home"> Home</a></li>
        <li><a href="#aboutUs"> About Us</a></li>
        <li><a href="#services"> Our Services</a></li>
        <li><a href="#contact"> Contact</a></li>
      </ul>
    </div>
    <div class="flex-grow max-w-sm py-5  md:py-10  ">
      <h3>CONTACT US </h3>
      <ul>
        <li><a class="flex items-center justify-center md:justify-start" href="mailto:Arslan@autoleadsmedia.com"><img
              class="mr-3" src="assets/contact/mail.svg" alt="">Arslan@autoleadsmedia.com</a></li>
        <li><a class="flex items-center justify-center md:justify-start" href="tel:+447458932995"><img class="mr-3"
              src="assets/contact/phone.svg" alt="">+447458932995</a></li>
        <li><a href="#aboutUs">Terms Of Service</a></li>
        <li><a href="#services">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
<hr>
<div class="text-center py-3 text-[10px] md:text-sm">Website designed and developed by : <a class="underline"
    href="http://www.framskrit.com/">framskrit</a> </div>