<div id="landing">
  <div class="container text-center pb-20">
    <h1 class="font-bold text-2xl md:text-5xl text-orangeColor my-10 uppercase">Shift into higher gear with our
      results-driven marketing strategies</h1>
    <p class="text-sm md:text-2xl font-medium mb-10 capitalize">Your automotive dealership has the potential to be a
      leader in your
      local
      market -
      all you need is
      the right marketing strategy to unlock it.
    </p>
    <div class="flex items-center gap-5 md:gap-10 justify-center">
      <a class="btn" href="#services">Read More</a>
      <a class="btn" href="https://calendly.com/autoleadsmedia/30min">Schedule A Call</a>
    </div>
    <img class="max-w-4xl mt-10 mx-auto w-full" src="assets/landing.png" alt="car image">
  </div>
</div>