<div id="aboutUs" class="py-24">
  <div class="container flex justify-between items-center flex-wrap gap-5">
    <div class="max-w-md uppercase">
      <h2 class="font-bold text-xl pb-3 dReveal">
        WHO ARE WE
      </h2>
      <h3 class="dReveal">Automotive</h3>
      <h3 class="dReveal">growth</h3>
      <h3 class="dReveal">experts</h3>
    </div>
    <div class="max-w-[590px]">
      <p class="font-medium text-xl capitalize lReveal">At our marketing agency, we know that the automotive industry
        moves
        fast, and we're
        here to help you keep
        pace.
        We specialize in creating customized marketing solutions
        for auto brokers and dealers, including Facebook and
        Instagram ads that engage your target audience and
        drive conversions. With our team of creative professionals
        by your side, you can rev up your sales and leave the
        competition in the rearview mirror. Trust us to accelerate
        your success and take your automotive business
        to the next level.</p>
    </div>
  </div>
</div>